/**********************************	BreadCrumb related css will start here **********************************/
.bread-crumb {
	font-size: 14px;
	border-radius: 5px 5px 5px 5px;
    float: left;
    height: 33px;
	background: rgb(102,110,113); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NmU3MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzVjNjQ2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc2JSIgc3RvcC1jb2xvcj0iIzUwNTU1OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0OTRkNTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(102,110,113,1) 0%, rgba(92,100,103,1) 50%, rgba(80,85,88,1) 76%, rgba(73,77,80,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,110,113,1)), color-stop(50%,rgba(92,100,103,1)), color-stop(76%,rgba(80,85,88,1)), color-stop(100%,rgba(73,77,80,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(102,110,113,1) 0%,rgba(92,100,103,1) 50%,rgba(80,85,88,1) 76%,rgba(73,77,80,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(102,110,113,1) 0%,rgba(92,100,103,1) 50%,rgba(80,85,88,1) 76%,rgba(73,77,80,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(102,110,113,1) 0%,rgba(92,100,103,1) 50%,rgba(80,85,88,1) 76%,rgba(73,77,80,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(102,110,113,1) 0%,rgba(92,100,103,1) 50%,rgba(80,85,88,1) 76%,rgba(73,77,80,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666e71', endColorstr='#494d50',GradientType=0 ); /* IE6-8 */
}

@sprite .bread-crumb .node {
	gwt-image:'breadCrumbSep';
	background-position: right center;
	background-repeat: no-repeat;
	float: left;
	width:auto;
	padding-left: 10px;
    padding-right: 30px;
}

.bread-crumb .last-node {
	background:none;
	float: left;
	width:auto;
	padding-left: 10px;
    padding-right: 10px;
}

.bread-crumb .last-node a{
	color: #80F60F;
	height: 11px;
	line-height: 32px;
	margin-top: 19px;
	text-decoration: none;
	text-shadow: 1px 1px 1px gray;
}

.bread-crumb .node a {
	text-shadow: 1px 1px 1px gray;
	height: 11px;
	line-height: 32px;
	margin-top: 19px;
	text-decoration: none;
	color: white;
}
/**********************************	BreadCrumb related css will end here **********************************/

@external bread-crumb, node, last-node;