.green-button{
	height: 47px;
	display: inline-block;
	cursor: pointer;
}
.green-button-label{
	line-height: 45px;
}

.green-button-body{
	gwt-sprite: 'bodyGrnBtn';
    height: 47px;
	color: #FFFFFF;
    padding-left: 9px;
    padding-right: 9px;
}

.green-button-left{
	gwt-sprite: 'leftGrnBtn';
    height: 47px;
	width:21px;
}

.green-button-right{
	gwt-sprite: 'rightGrnBtn';
    height: 47px;
    width: 39px;
}

@external green-button, green-button-label, green-button-body, green-button-left, green-button-right;