.search-box {
    border: 1px solid #BABABA;
    min-height: 30px;
    min-width: 200px;
    text-align: left;
}
.search-box .text-box {
	font-family:"Avant Garde","Century Gothic","Avant Garde Gothic","URW Gothic L",helvetica,sans-serif;
	border:1px solid white;
	background-color:white;
	width:80%;
	height:80%;
	float: left;
}
.search-box .input-widget-container {
	float:right;
	padding: 2px;
}
.search-box .gwt-TextBox {
	width:80% !important;
	height:80% !important;
}
@external search-box,text-box,input-widget-container;
