.wizard {
	width: 980px;
}

.wizard div.first-element  {
    border-radius: 5px 0 0 5px;
}

.step0 {
	padding-top:5px;
}

.step1 {
	padding-top:5px;
}

.step2 {
	padding-top:5px;
}

.step3 {
	padding-top:5px;
}

.step4 {
	padding-top:5px;
}

@sprite .wizard div {
	gwt-image: 'navButton';
	background-position: right top;
	background-color:#9A9A9A;
	background-repeat: no-repeat;
	float: left;
	list-style: none outside none;
	height: 23px ;
	width:196px ;
}

.wizard div.inactive  {
	
}

.wizard div a em {
	font-size: 12px;
	font-weight:bold;
	font-style: normal;
	margin: 6px 0 0 0;
	color: white;
}

.wizard div a span {
	font-size: 12px;
	font-weight:normal;
	color: white;
}

@sprite .wizard div.done  {
	gwt-image: 'navDoneButton';
	background-color: #01A0E2;
	background-position: right top;
	width:196px;
	height:23px;
}

@sprite .wizard div.last-done {
	gwt-image: 'navLastDoneButton';
	background-color: #01A0E2;
	background-position: right top;
	width:196px;
	height:23px;
}

@sprite .wizard div.active {
	gwt-image: 'navCurrentButton';
	background-color: #65C000 !important;
	background-position: right top;
	width:196px;
	height:23px;
}

@sprite .wizard div.last-element  {
	gwt-image: 'lastButton';
	background-position: right top;
	background-color:#9A9A9A;
	float: none;
	border-radius: 0 5px 5px 0;
	border-right: 5px solid #9A9A9A;
	width:196px;
	height:23px;	
}

@sprite .wizard div.last-active-element  {
	gwt-image: 'lastButton';
	background-position: right top;
	background-color:#9A9A9A;
	float: none;
	border-radius: 0 5px 5px 0;
	border-right: 5px solid #65C000;
	width:196px;
	height:23px;	
}

.wizard div:hover {
	text-shadow: none;
	text-decoration: none;
}

@external step0, step1, step2, step3, step4, wizard, last-element, last-active-element, active, last-done, done, inactive, first-element;