.landing .form-container .form-field-container {
	padding: 5px 0px;
}

.landing .form-container .form-field-label{
	width: 145px;
}

.menu-pan-context td {
	padding: 5px 10px;
}

.menu-pan-context td:hover {
	background-color: #027DB1;
	color: white;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!	menu related css Starts here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*Here we are scoping searchBox widget therefore can't move to ui:style */
.menu-pan {
	border-radius: 0 0 5px 5px;
	box-shadow: 0 0 7px 1px black;
	position: fixed;
	width: 970px;
	padding: 5px;
	z-index:3;
	background: rgb(2, 129, 182); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyODFiNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iIzAyN2ViMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzAzNzNhNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNTY3OTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(2, 129, 182, 1) 0%,
		rgba(2, 126, 179, 1) 57%, rgba(3, 115, 165, 1) 80%,
		rgba(5, 103, 148, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(2,
		129, 182, 1) ), color-stop(57%, rgba(2, 126, 179, 1) ),
		color-stop(80%, rgba(3, 115, 165, 1) ),
		color-stop(100%, rgba(5, 103, 148, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(2, 129, 182, 1) 0%,
		rgba(2, 126, 179, 1) 57%, rgba(3, 115, 165, 1) 80%,
		rgba(5, 103, 148, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(2, 129, 182, 1) 0%,
		rgba(2, 126, 179, 1) 57%, rgba(3, 115, 165, 1) 80%,
		rgba(5, 103, 148, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(2, 129, 182, 1) 0%,
		rgba(2, 126, 179, 1) 57%, rgba(3, 115, 165, 1) 80%,
		rgba(5, 103, 148, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(2, 129, 182, 1) 0%,
		rgba(2, 126, 179, 1) 57%, rgba(3, 115, 165, 1) 80%,
		rgba(5, 103, 148, 1) 100% ); /* W3C */
	filter: progid :                          
		    DXImageTransform.Microsoft.gradient (      
		  
		        
		              startColorstr =               
		               '#0281b6', endColorstr =                            
		  '#056794', GradientType =          
		        
		           0 );
	border-radius: 0 0 5px 5px;
	/* IE6-8 */
}

.tabbar-pan {
	float: left;
	width: 650px;
}

.search-pan {
	float: right;
	width: 240px;
}

.search-pan .search-box {
	height: 32px;
	background-color: white;
	border-radius: 4px 4px 4px 4px;
}

.search-pan .search-box input[type="text"]{
	border: none;
	border-radius: 4px 4px 4px 4px;
	font-size: 13px;
	margin-top: 0;
	padding: 5px;
	float: left;
}

.search-pan .search-box input {
	box-shadow: none;
}

.search-pan .search-box .input-widget-container {
	background-color: #76C627;
	border-radius: 4px 4px 4px 4px;
	float: right;
	height: 25px;
	margin: 1px;
	padding: 2px;
}

.search-pan input[type="text"]{
	padding: 4px 2px 2px 12px !important;
	width: 193px;;
}

.search-pan img {
	cursor: pointer;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!	menu related css ends here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/